<!-- footer.component.html -->
<footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h5>Sobre</h5>
          <p>Gestão de Livros, Autores e Assuntos é um aplicativo para gerenciar livros, autores e assuntos.</p>
        </div>
        <div class="col-md-4">
          <h5>Links Úteis</h5>
          <ul>
            <li><a routerLink="/">Home</a></li>
            <li><a routerLink="/livros">Livros</a></li>
            <li><a routerLink="/autores">Autores</a></li>
            <li><a routerLink="/assuntos">Assuntos</a></li>
            <li><a routerLink="/relatorios">Relatórios</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h5>Contato</h5>
          <p>Email: eduardo@gmail.com</p>
          <p>Telefone: (61) 1234-5678</p>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="container text-center">
        <p>&copy; {{ currentYear }} Gestão de Livros, Autores e Assuntos. Todos os direitos reservados.</p>
      </div>
    </div>
  </footer>
  